---
import Layout from '@/layouts/Layout.astro'
import { getMoviesPaths } from '@/lib/getMoviesPaths.js'
import { IMAGES_PATH } from '@/services/consts/const-imagesPath'
import { getAllMovies } from '@/lib/allMovies.js'
import TrailerYoutube from '@/components/TrailerYoutube.astro'
import DatesFilm from '@/components/DatesFilm.astro'

export const getStaticPaths = async () => {
  return await getMoviesPaths()
}

const { dinamicMovie } = Astro.params

const movies = await getAllMovies()
const movie = movies.find((movie) => movie.title === dinamicMovie)
---

<Layout title={`Cine info - ${movie.title}`} description={movie.overview}>
  <main class="relative bg-[url(public/images/Background_cine.webp)] px-18 py-10 pt-24">
    <div class="bg-dark-secondary/95 absolute inset-0 h-full w-full"></div>
    <article class="relative p-4">
      <div class="bg-dark-secondary/75 absolute inset-0 rounded-lg"></div>
      <section class="flex gap-10">
        <img
          src=`${IMAGES_PATH}${movie.backdrop_path}`
          alt={movie.title}
          class="mask-fade-image-film animate-fade-in-down aspect-video h-auto w-[50%] rounded-lg"
        />

        <DatesFilm movie={movie} />
      </section>

      <h4 class="animate-fade-in-up mt-20 text-center text-5xl font-bold text-white">
        Ver trailer
      </h4>
      <div class="mx-auto my-0 mt-16 w-[60%] overflow-hidden">
        <TrailerYoutube videoId={movie.id} trailerTitle={movie.title} />
      </div>
    </article>
  </main>
</Layout>
