---
import { IMAGES_PATH } from '@/services/consts/const-imagesPath'
const { credits } = Astro.props
---

<article class="relative flex h-full w-full flex-col items-center p-4">
  <h4 class="animate-fade-in-up mt-20 mb-10 text-center text-4xl font-bold text-white md:mb-20">
    Reparto
  </h4>
  <div
    class="grid h-auto w-full grid-cols-2 place-items-center gap-4 sm:grid-cols-[repeat(auto-fit,_minmax(200px,_1fr))] md:grid-cols-[repeat(auto-fit,_minmax(250px,_1fr))] lg:grid-cols-[repeat(auto-fit,_minmax(300px,_1fr))]"
  >
    {
      credits.cast.map((actor) => {
        if (actor.known_for_department === 'Acting') {
          return (
            <div class="flex h-auto w-30 flex-col items-center justify-center gap-2 md:w-38">
              <img
                src={`${IMAGES_PATH}${actor.profile_path}`}
                alt={actor.name}
                class="h-[90%] justify-self-start rounded-lg object-center shadow-md transition-transform duration-300 ease-in-out hover:scale-105"
              />

              <span class="text-center text-sm font-bold text-white">
                {actor.name} ({actor.character})
              </span>
            </div>
          )
        }
      })
    }
  </div>
</article>
