---
const { movie, genres } = Astro.props
---

<section class="animate-fade-in flex w-full flex-col justify-between md:w-[40%]">
  <div class="bottom-2 left-1 lg:bottom-24 lg:left-8">
    <span
      transition:name="movie-name"
      class="text-shadow mb-2 block text-2xl text-white underline md:mb-6 lg:text-4xl lg:font-bold"
    >
      {movie.title}
    </span>
    <p
      class="text-shadow prose mb-4 block text-base text-pretty text-white md:mb-1 lg:text-base lg:font-medium"
    >
      {movie.overview}
    </p>
  </div>
  <div class="flex flex-col gap-6">
    <span class="flex gap-2 text-sm font-bold text-zinc-200 md:text-base">
      Puntuación:
      <p class="text-zinc-400 text-shadow-md">
        {Math.round(movie.vote_average)}
      </p>
    </span>

    <span class="flex gap-2 text-sm font-bold text-zinc-200 md:text-base">
      Opiniones:
      <p class="text-zinc-400 text-shadow-md">
        {movie.vote_count}
      </p>
    </span>

    <span class="flex gap-2 text-sm font-bold text-zinc-200 md:text-base">
      Fecha:
      <p class="text-zinc-400 text-shadow-md">
        {movie.release_date}
      </p>
    </span>

    <span class="flex gap-2 text-sm font-bold text-zinc-200 md:text-base">
      Popularidad:
      <p class="text-zinc-400 text-shadow-md">
        {movie.popularity}
      </p>
    </span>

    <span class="flex gap-2 text-sm font-bold text-zinc-200 md:text-base">
      Género:
      <p class="text-zinc-400 text-shadow-md">
        {genres}
      </p>
    </span>
  </div>
</section>
