---
import { IMAGES_PATH } from '@/services/consts/const-imagesPath'
import ArrowLeft from '@/assets/svg/ArrowLeft.svg'
import ArrowRight from '@/assets/svg/ArrowRight.svg'

const { similars } = Astro.props
---

<article class="relative mt-20 mb-[20rem] flex w-full flex-col items-center gap-4">
  <h4 class="mb-10 text-5xl font-bold text-white">Películas similares</h4>
  <div class="container-arrows flex items-center gap-6">
    <button class="button-left"
      ><ArrowLeft
        class="arrow-left cursor-pointer text-gray-600 transition-all hover:scale-105 hover:text-gray-500"
        aria-label="Flecha hacia la izquierda"
      /></button
    >
    <button class="button-right"
      ><ArrowRight
        class="arrow-right cursor-pointer text-gray-600 transition-all hover:scale-105 hover:text-gray-500"
        aria-label="Flecha hacia la derecha"
      /></button
    >
  </div>
  <section
    class="similar-movies absolute inset-0 z-20 mt-40 flex h-90 w-full gap-6 overflow-x-scroll overflow-y-hidden p-4"
  >
    {
      similars.results.map((similar) => {
        return (
          <div class="animate-fade-in relative aspect-video w-[30rem] min-w-[30rem]">
            <img
              src={`${IMAGES_PATH}${similar.backdrop_path}`}
              alt={similar.title}
              class="animate-fade-in animate-delay-200 aspect-video min-w-full rounded-md object-center transition-all hover:scale-105"
              loading="lazy"
              fetchpriority="low"
              decoding="async"
            />
            <div class="absolute bottom-16 left-1">
              <span class="text-shadow mb-0.5 block text-xl text-pretty text-white lg:font-bold">
                {similar.title}
              </span>
            </div>
          </div>
        )
      })
    }
  </section>
</article>

<style>
  .similar-movies::-webkit-scrollbar {
    appearance: none;
  }
  .similar-movies::-webkit-scrollbar:horizontal {
    height: 9px;
  }
  .similar-movies::-webkit-scrollbar:vertical {
    width: 4px;
  }
  .similar-movies::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 20px;
  }
  .similar-movies::-webkit-scrollbar-track {
    background-color: #1f2937;
    border-radius: 10px;
  }
  .similar-movies::-webkit-scrollbar-button:increment,
  .similar-movies::-webkit-scrollbar-button {
    display: none;
  }
</style>

<script is:inline>
  const containerMovies = document.querySelector('.similar-movies') // Contenedor de películas similares
  const arrowLeft = document.querySelector('.arrow-left') // Flecha izquierda
  const arrowRight = document.querySelector('.arrow-right') // Flecha derecha
  const buttonLeft = document.querySelector('.button-left') // Botón flecha izquierda
  const buttonRight = document.querySelector('.button-right') // Botón flecha derecha
  const link = document.querySelector('.link') // Enlace de ver más

  link.addEventListener('click', (e) => {
    e.preventDefault()

    window.history.pushState({}, '', `/${e.target.value}`)
  })

  arrowRight.addEventListener('click', () => {
    const scrollAmount = (containerMovies.scrollWidth / containerMovies.children.length) * 2.8
    containerMovies.scrollBy({
      left: scrollAmount,
      behavior: 'smooth'
    })
  })

  arrowLeft.addEventListener('click', () => {
    const scrollAmount = (containerMovies.scrollWidth / containerMovies.children.length) * 2.8
    containerMovies.scrollBy({
      left: -scrollAmount,
      behavior: 'smooth'
    })
  })

  // Accecibilidad de flechas
  buttonLeft.addEventListener('keydown', (e) => {
    if (e.key === 'Enter' || e.key === ' ' || e.key === 'ArrowLeft') {
      const scrollAmount = (containerMovies.scrollWidth / containerMovies.children.length) * 2.8
      containerMovies.scrollBy({
        left: -scrollAmount,
        behavior: 'smooth'
      })
    }
  })

  buttonRight.addEventListener('keydown', (e) => {
    if (e.key === 'Enter' || e.key === ' ' || e.key === 'ArrowRight') {
      const scrollAmount = (containerMovies.scrollWidth / containerMovies.children.length) * 2.8
      containerMovies.scrollBy({
        left: scrollAmount,
        behavior: 'smooth'
      })
    }
  })
</script>
