---
import { IMAGES_PATH } from '@/services/consts/const-imagesPath'

const { similars } = Astro.props
---

<article class="relative mt-20 flex w-full flex-col items-center gap-4">
  <h4 class="mb-10 text-5xl font-bold text-white">Películas similares</h4>
  <div
    class="similar-movies flex w-full snap-x snap-mandatory justify-start gap-4 overflow-x-scroll scroll-smooth px-4 py-4"
  >
    {
      similars.results.map((similar) => {
        return (
          <div
            class="group contenedor relative h-[23rem] w-[18rem] min-w-[18rem] overflow-hidden rounded-lg border border-transparent shadow-md transition-all duration-300 focus-within:border focus-within:border-zinc-400 hover:border hover:border-zinc-400"
            tabindex="0"
          >
            <img
              src={`${IMAGES_PATH}${similar.poster_path}`}
              alt={similar.title}
              class="contenedor animate-fade-in animate-duration-300 group-hover:mask-fade-name absolute inset-0 h-full w-full rounded-lg transition-all duration-300 group-focus-within:scale-95 group-hover:scale-95"
              loading="lazy"
              fetchpriority="low"
              decoding="async"
            />
            <div class="pointer-events-none absolute bottom-2 left-1.5 opacity-0 transition-all group-focus-within:pointer-events-auto group-focus-within:opacity-100 group-hover:pointer-events-auto group-hover:opacity-100">
              <span class="text-shadow mb-0.5 block text-xl font-bold text-pretty text-white">
                {similar.title}
              </span>
              <a
                class="pointer-events-auto inline-block cursor-pointer rounded-lg border-2 border-transparent bg-gray-500/50 px-4 py-2 text-white transition-all duration-100 hover:scale-105 hover:border-white hover:bg-gray-600/50 focus:scale-105 focus:border-white focus:bg-gray-600/50"
                href={`/${similar.title}`}
                tabindex="0"
                aria-label={`Ver más sobre ${similar.title}`}
              >
                Ver más
              </a>
            </div>
          </div>
        )
      })
    }
  </div>
</article>

<style>
  .similar-movies::-webkit-scrollbar {
    appearance: none;
  }
  .similar-movies::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  .similar-movies::-webkit-scrollbar:vertical {
    width: 4px;
  }
  .similar-movies::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 20px;
  }
  .similar-movies::-webkit-scrollbar-track {
    background-color: #1f2937;
    border-radius: 10px;
  }
  .similar-movies::-webkit-scrollbar-button:increment,
  .similar-movies::-webkit-scrollbar-button {
    display: none;
  }
</style>
